@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --blue-color: #004ee7;
  --gray-color: #adadad;
  --black-color: #121212;
  --black-grayish-color: #222222;
} */

body {
  background-color: #121212;
}

.section_title {
  @apply text-4xl font-bold;
}

.section_title_smaller {
  @apply text-2xl font-medium;
}

.section_subtitle {
  @apply text-xl font-light;
}

.input_navigation {
  @apply py-2 pr-40 pl-12 border bg-[#121212] rounded-md border-none text-white transition-all;
}
