@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --blue-color: #004ee7;
  --gray-color: #adadad;
  --black-color: #121212;
  --black-grayish-color: #222222;
} */

body {
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.section {
  @apply h-full overflow-y-scroll;
}

.section_title {
  @apply text-4xl font-bold;
}

.section_title_smaller {
  @apply text-2xl font-medium;
}

.section_subtitle {
  @apply text-xl font-light;
}

.section_subtitle_smaller {
  @apply text-lg font-light;
}

.input_navigation {
  @apply py-2 w-[40em] pl-12 border bg-[#121212] rounded-md border-none text-white transition-all;
}

.input_navigation_result_box {
  @apply w-full h-60 overflow-y-scroll rounded-b-md bg-white absolute transition-opacity;
  animation: input_navigation_animation 0.7s ease;
}

.sidebar {
  @apply px-4 py-8 shadow-md basis-[440px] sticky left-0 top-0 h-screen bg-[#222222] flex flex-col justify-between;
}

.sidebar_mobile_open {
  @apply z-40 py-8 px-4 h-full shadow-md bg-[#222222] absolute w-[260px] flex flex-col justify-between;
  animation: sidebar_navigation_animation 0.7s ease;
}

.sidebar_mobile_closed {
  @apply hidden;
  animation: sidebar_navigation_animation 0.7s ease;
}

.sidebar_link {
  @apply text-white px-8 py-4 flex items-center gap-7 rounded-md transition-all hover:bg-[#004ee7];
}

.button_normal {
  @apply py-2 px-2 w-full bg-[#004ee7] text-white text-lg rounded-md transition-all hover:bg-[#4469c0] hover:border-[#4469c0];
}

.button_success {
  @apply py-2 px-2 w-full bg-[#1f9f4c] text-white text-lg rounded-md transition-all hover:bg-[#2b844a] hover:border-[#2b844a];
}

.button_danger {
  @apply py-2 px-2 w-full bg-[#ff4f4f] text-white text-lg rounded-md transition-all hover:bg-[#b93333] hover:border-[#b93333];
}

.button_outlined {
  @apply py-2 px-2 w-full border text-white text-lg rounded-md transition-all hover:bg-[#004ee7] hover:border-[#004ee7];
}

.link {
  @apply py-2 px-4 w-full text-center bg-[#004ee7] text-white text-lg rounded-md transition-all hover:bg-[#4469c0] hover:border-[#4469c0];
}

.card {
  @apply p-6 bg-[#222222] rounded-md shadow-md;
}

.input {
  @apply p-4 rounded-md bg-[#2B2B2B] text-white;
}

.textarea {
  @apply p-4 rounded-md bg-[#2B2B2B] text-white resize-none h-96;
}

.select {
  @apply appearance-none border border-gray-300 rounded-lg p-2 w-40 focus:outline-none focus:ring focus:border-gray-400;
}

.label {
  @apply section_subtitle_smaller text-white;
}

.form_flex {
  @apply flex items-stretch gap-2;
}

.form_flex_col {
  @apply flex flex-col items-stretch gap-2;
}

.tags {
  @apply p-4 rounded-md bg-[#004de73d] shadow-md text-white w-fit;
}

.question_item_actions {
  @apply flex items-center gap-2;
}

.question_item_actions_span {
  @apply section_title_smaller text-white;
}

/* KEYFRAMES */
@keyframes input_navigation_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes sidebar_navigation_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
