@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --blue-color: #004ee7;
  --gray-color: #adadad;
  --black-color: #121212;
  --black-grayish-color: #222222;
} */

body {
  background-color: #121212;
}

.section_title {
  @apply text-4xl font-bold;
}

.section_title_smaller {
  @apply text-2xl font-medium;
}

.section_subtitle {
  @apply text-xl font-light;
}

.input_navigation {
  @apply py-2 w-[40em] pl-12 border bg-[#121212] rounded-md border-none text-white transition-all;
}

.input_navigation_result_box {
  @apply w-full h-60 overflow-y-scroll rounded-b-md bg-white absolute transition-opacity;
  animation: input_navigation_animation 0.7s ease;
}

.sidebar_link {
  @apply text-white px-8 py-4 flex items-center gap-7 rounded-md transition-all hover:bg-[#004ee7];
}

/* KEYFRAMES */
@keyframes input_navigation_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
